<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">iCheckin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
      </ul>
      <button class="btn btn-link" routerLink="/login">Login</button>
      <button class="btn btn-outline-primary" routerLink="/signup">Sign up</button>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Simple. Efficient. Accurate.</h1>
    <p class="lead">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos aliquam in, impedit ratione, itaque neque natus explicabo ullam consectetur hic sunt nam suscipit, mollitia veritatis ipsam aut facere illo non quo. Quibusdam incidunt assumenda, dolores id minus animi earum ut, commodi ratione labore vel nam mollitia hic, dicta vero obcaecati.
    </p>
    <hr>
    <a href="#" role="button" class="btn btn-primary btn-md">Sign up now</a>
  </div>
</div>

<div class="bg-white pt-6">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mr-auto align-self-center mb-5">
        <div class="my-4">
          <h4>Multi-lvl</h4>
          <p class="text-dark">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, dolorem.
          </p>
        </div>
        <div class="my-4">
          <h4>Lorem, ipsum dolor.</h4>
          <p class="text-dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque nostrum saepe. Ipsa molestiae accusantium temporibus hic, sit id corporis?
          </p>
        </div>
        <div class="my-4">
          <h4>Lorem, ipsum dolor.</h4>
          <p class="text-dark">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, vel.
          </p>
        </div>
      </div>
      <div class="col-md-5 ml-auto mt-4">
        <img src="assets/images/img.jpeg" alt="iPad" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-md-4 ml-auto">
            <h4>Built with best frameworks</h4>
          </div>
          <div class="col-md-6 mr-auto">
            <p class="lead text-dark">
              iCheckin uses industry standard build tools such as Sass, Bootstrap, jQuery, npm, Angular and Firebase.
            </p>
          </div>
        </div>
        <div class="row align-items-center my-md-4">
          <div class="col-4 col-sm-2">
            <img src="assets/logos/sass.svg" alt="Sass" class="img-fluid p-md-2">
          </div>
          <div class="col-4 col-sm-2">
            <img src="assets/logos/bootstrap.svg" alt="Bootstrap" class="img-fluid p-md-4">
          </div>
          <div class="col-4 col-sm-2">
            <img src="assets/logos/jquery.svg" alt="jQuery" class="img-fluid">
          </div>
          <div class="col-4 col-sm-2">
            <img src="assets/logos/npm.svg" alt="npm" class="img-fluid">
          </div>
          <div class="col-4 col-sm-2">
            <img src="assets/logos/angular.svg" alt="Angular" class="img-fluid">
          </div>
          <div class="col-4 col-sm-2">
            <img src="assets/logos/firebase.svg" alt="Firebase" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="py-5 lh-1 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="h4 mb-4">iCheckin.</h3>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h4 class="h6">Address</h4>
            <ul class="list-unstyled">
              <li>UC, Irvine</li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-6">
            <h4 class="h6">Services</h4>
            <ul class="list-unstyled">
              <li><a class="text-dark" href="#"><u>News and updates</u></a></li>
              <li><a class="text-dark" href="#"><u>FAQs</u></a></li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-6">
            <h4 class="h6">Team</h4>
            <ul class="list-unstyled">
              <li><a routerLink="/about" class="text-dark"><u>About us</u></a></li>
              <li><a routerLink="/about" class="text-dark"><u>Contact</u></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>